<a href="https://colab.research.google.com/github/Sidra-Noman/Class_assignment3_python/blob/main/assignment3_list%2Ctuple_and_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list of five numbers and append a new number to it. Print the updated list.
numbers = [15, 20, 25, 30, 35]
numbers.append(40)
print("Updated List:", numbers)

Updated List: [15, 20, 25, 30, 35, 40]

In [ ]:
# 2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
numbers1.extend(numbers2)
print("Result:", numbers1)

Result: [1, 2, 3, 4, 5, 6]

In [ ]:
# 3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript",
# "Ruby"].
lang = ["Java", "C++", "JavaScript", "Ruby"]
lang.insert(2, "Python")
print("Updated List:", lang)

Updated List: ['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

In [ ]:
#  Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].
numbers = [10,20,30,40]
numbers.remove(10)
print("New list:",numbers)

New list: [20, 30, 40]

In [ ]:
# . Use the pop() method to remove the last element from [100, 200, 300, 400] and
# print the modified list.
elements = [100,200,300,400]
elements.pop()
print("Modified list:", elements)

Modified list: [100, 200, 300]

In [ ]:
# 6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].
numbers = [5, 10, 5, 20, 5, 30]
repeat= numbers.count(5)
print("Count of 5:", repeat)

Count of 5: 3

In [ ]:
# 7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.
numbers = [9, 1, 8, 3, 5]
numbers.sort()
print("Ascending Order:", numbers)
numbers.sort(reverse=True)
print("Descending Order:", numbers)

Ascending Order: [1, 3, 5, 8, 9]
Descending Order: [9, 8, 5, 3, 1]

In [ ]:
# 8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print("Reversed List:", fruits)

Reversed List: ['cherry', 'banana', 'apple']

In [ ]:
# 9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
# copied list and print both lists.
original = [1, 2, 3, 4, 5]
copied = original.copy()
copied.append(6)
print("Original List:", original)
print("Copied List:", copied)

Original List: [1, 2, 3, 4, 5]
Copied List: [1, 2, 3, 4, 5, 6]

In [ ]:
# 10. Clear all elements from a list [“hello”, “world”, “python”] using the clear()
# method.
words = ["hello", "world", "python"]
words.clear()
print("Cleared List:", words)

Cleared List: []

In [ ]:
# 11. Create a tuple with 5 different fruits and print the third fruit.
fruits = ("apple", "mango", "melon", "strawberry", "guava")
print("Third Fruit:", fruits[2])

Third Fruit: melon

In [ ]:
# 12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
# it back into a tuple.
# Given tuple
numbers_tuple = (10, 20, 30, 40, 50)

# Convert the tuple to a list
numbers_list = list(numbers_tuple)

# Remove the number 30 from the list
numbers_list.remove(30)

# Convert the list back into a tuple
numbers_tuple = tuple(numbers_list)

# Output the modified tuple
print("Modified Tuple:", numbers)

TypeError: 'list' object is not callable

In [ ]:
# 13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
# modify a tuple indirectly?
# Tuples in Python are immutable, which means that once they are created, their contents cannot be modified. This includes appending, removing, or changing individual elements of the tuple. If we try to append an element to a tuple, we'll encounter an error.
# Given tuple
tup = ("A", "B", "C")

# Step 1: Convert the tuple to a list
tup_list = list(tup)

# Step 2: Append an element to the list
tup_list.append("D")

# Step 3: Convert the list back to a tuple
new_tup = tuple(tup_list)

# Output the modified tuple
print("Modified Tuple:", new_tup)

TypeError: 'list' object is not callable

In [ ]:
# 14. Unpack the tuple (100, 200, 300) into three separate variables and print them.
numbers = (100, 200, 300)
a, b, c = numbers
print("a:", a)
print("b:", b)
print("c:", c)
#

a: 100
b: 200
c: 300

In [ ]:
# 15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).
numbers = (7, 1, 7, 3, 7, 5)
count = numbers.count(7)
print("Count of 7:", count)

Count of 7: 3

In [ ]:
# 16. Write a function that takes a list and returns a new list with all even numbers removed.
def remove_even_numbers(lst):
    return [num for num in lst if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("New list:", remove_even_numbers(numbers))

New list: [1, 3, 5, 7, 9]

In [ ]:
# 17. Create a function that accepts a list and returns a new list with elements sorted in
# descending order without using the sort() method.
def sort_descending(lst):
    return sorted(lst, reverse=True)

numbers = [5, 2, 9, 1, 7]
print("New list:", sort_descending(numbers))

New list: [9, 7, 5, 2, 1]

In [ ]:
# 18. Given a list of numbers, write a program to remove all duplicate elements and print the
# unique elements.
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_numbers = list(set(numbers))  # Converting to set removes duplicates
print("Unique Elements:", unique_numbers)

TypeError: 'list' object is not callable

In [ ]:
# 19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
# it into a list, remove duplicates, and convert it back to a tuple.
names = ("Alice", "Bob", "Charlie", "Alice", "David")
names_list = list(set(names))
names_tuple = tuple(names_list)
print("New Tuple:", names_tuple)

TypeError: 'list' object is not callable

In [ ]:
# 20. Create a program that takes a list of mixed data types (int, str, float) and separates
# integers into one list, strings into another, and floats into another.

# Mixed data list
mixed_data = [10, "hello", 3.14, 20, "world", 50.5, "python", 100]

integers = [x for x in mixed_data if type(x) == int]
strings = [x for x in mixed_data if type(x) == str]
floats = [x for x in mixed_data if type(x) == float]

print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [10, 20, 100]
Strings: ['hello', 'world', 'python']
Floats: [3.14, 50.5]